.wrapper {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gilroy";
}

h1 {
  font-family: "Gilroy";
}

/* user input styles */
form {
  width: 300px;
  box-sizing: border-box;
}

form .text {
  width: 275px;
  box-sizing: border-box;
}

form button {
  width: 25px;
  box-sizing: border-box;
}

/* List styling */
ul {
  padding-left: 0;
}
